.banner_dr-hand .banner__image_1 {
    z-index: 1;
    width: 1001px;
    height: 687px;
    background-image: url(../i/dr-hand__hands.png);
}

.banner_dr-hand .banner__image_2 {
    width: 215px;
    height: 73px;
    background-image: url(../i/dr-hand__protect.png);
}

.banner_dr-hand .banner__image_3 {
    width: 247px;
    height: 28px;
    background-image: url(../i/dr-hand__features.png);
}

.banner_dr-hand .banner__logo {
    position: absolute;
    z-index: 1;
    width: 214px;
    height: 34px;
    background: url(../i/dr-hand__logo.png) 0 0 no-repeat;
}

.banner_dr-hand .banner__description {
    position: relative;
    border-radius: 5px;
    background: #007940;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.banner_dr-hand .banner__logo,
.banner_dr-hand .banner__description {
    transition: all .3s ease-out;
}

@media all and (max-width: 759px) {
    .banner_dr-hand .banner__inner {
        padding: 143px 0 137px;
    }

    .banner_dr-hand .banner__image_1 {
        bottom: -396px;
        left: 159px;
        background-size: 510px;
    }

    .banner_dr-hand .banner__image_2 {
        bottom: 53px;
        left: 0;
        background-size: 189px;
    }

    .banner_dr-hand .banner__image_3 {
        top: 92px;
        left: 47px;
    }

    .banner_dr-hand .banner__logo {
        top: 30px;
        left: 64px;
    }

    .banner_dr-hand .banner__description {
        padding: 13px 20px 8px 13px;
        width: 307px;
    }

    .banner_dr-hand .banner__description .banner__list {
        margin: 21px -10px 0 0;
        line-height: 25px;
    }

    .banner_dr-hand .banner__description .banner__list-item + .banner__list-item {
        margin-top: 20px;
    }
}

@media all and (min-width: 760px) and (max-width: 999px) {
    .banner_dr-hand .banner__inner {
        padding: 227px 0 28px;
    }

    .banner_dr-hand .banner__image_1 {
        top: -31px;
        right: -651px;
    }

    .banner_dr-hand .banner__image_2 {
        top: 46px;
        right: 242px;
        background-size: 189px;
    }

    .banner_dr-hand .banner__image_3 {
        top: 165px;
        left: 15px;
    }

    .banner_dr-hand .banner__logo {
        top: 77px;
        left: 14px;
    }

    .banner_dr-hand .banner__description {
        padding: 10px 30px 13px 14px;
        width: 383px;
    }

    .banner_dr-hand .banner__description .banner__list {
        margin: 26px 0 0;
        line-height: 25px;
    }
}

@media all and (min-width: 1000px) and (max-width: 1279px) {
    .banner_dr-hand .banner__inner {
        padding: 160px 0 23px;
    }

    .banner_dr-hand .banner__image_1 {
        top: -53px;
        right: -548px;
    }

    .banner_dr-hand .banner__image_2 {
        top: 83px;
        right: 457px;
        background-size: 189px;
    }

    .banner_dr-hand .banner__image_3 {
        top: 39px;
        left: 296px;
    }

    .banner_dr-hand .banner__logo {
        top: 77px;
        left: 14px;
    }

    .banner_dr-hand .banner__description {
        padding: 10px 50px 13px 14px;
        width: 427px;
    }

    .banner_dr-hand .banner__description .banner__list {
        margin: 17px -40px 0 0;
        line-height: 25px;
    }
}

@media all and (min-width: 1280px) and (max-width: 1919px) {
    .banner_dr-hand .banner__inner {
        padding: 172px 0 14px;
    }

    .banner_dr-hand .banner__image_1 {
        top: -19px;
        right: -292px;
    }

    .banner_dr-hand .banner__image_2 {
        top: 250px;
        right: 108px;
    }

    .banner_dr-hand .banner__image_3 {
        top: 79px;
        left: 315px;
    }

    .banner_dr-hand .banner__logo {
        top: 77px;
        left: 14px;
    }

    .banner_dr-hand .banner__description {
        padding: 10px 50px 5px 16px;
        width: 429px;
    }

    .banner_dr-hand .banner__description .banner__list {
        margin: 21px -40px 0 0;
        line-height: 25px;
    }
}

@media all and (min-width: 1920px) {
    .banner_dr-hand .banner__inner {
        padding: 170px 0 41px;
    }

    .banner_dr-hand .banner__image_1 {
        top: -20px;
        right: -197px;
    }

    .banner_dr-hand .banner__image_2 {
        top: 249px;
        right: 203px;
    }

    .banner_dr-hand .banner__image_3 {
        top: 79px;
        left: 316px;
    }

    .banner_dr-hand .banner__logo {
        top: 76px;
        left: 18px;
    }

    .banner_dr-hand .banner__description {
        padding: 12px 28px 17px 18px;
        width: 556px;
    }

    .banner_dr-hand .banner__description .banner__list {
        margin: 28px 0 0;
        line-height: 30px;
    }
}
