.banner_fruit-kiss .banner__image_1 {
    width: 657px;
    height: 523px;
    background-image: url(../i/fruit-kiss__bg.png);
}

.banner_fruit-kiss .banner__image_2 {
    width: 603px;
    height: 33px;
    background-image: url(../i/fruit-kiss__logo_2.png);
}

.banner_fruit-kiss .banner__image_3 {
    width: 165px;
    height: 165px;
    background-image: url(../i/fruit-kiss__features_1.png);
}

.banner_fruit-kiss .banner__image_4 {
     width: 202px;
     height: 98px;
     background-image: url(../i/fruit-kiss__features_2.png);
 }

.banner_fruit-kiss .banner__logo {
    position: absolute;
    z-index: 1;
    width: 218px;
    height: 79px;
    background: url(../i/fruit-kiss__logo.png) 0 0 no-repeat;
}

.banner_fruit-kiss .banner__description {
    border-radius: 5px;
    background: #92ca64;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.banner_fruit-kiss .banner__footnote {
    color: #007940;
}

.banner_fruit-kiss .banner__logo,
.banner_fruit-kiss .banner__description {
    transition: all .3s ease-out;
}

@media all and (max-width: 759px) {
    .banner_fruit-kiss .banner__inner {
        padding: 282px 0 237px;
    }

    .banner_fruit-kiss .banner__image_1 {
        right: -291px;
        bottom: -289px;
        background-size: 373px;
    }

    .banner_fruit-kiss .banner__image_2 {
        bottom: 0;
        left: -10px;
    }

    .banner_fruit-kiss .banner__image_3 {
        top: 108px;
        left: 22px;
        background-size: 104px;
    }

    .banner_fruit-kiss .banner__image_4 {
        top: 123px;
        left: 161px;
        background-size: 166px;
    }

    .banner_fruit-kiss .banner__logo {
        top: 9px;
        left: 61px;
    }

    .banner_fruit-kiss .banner__description {
        padding: 7px 10px 5px 11px;
        width: 319px;
        text-align: justify;
    }

    .banner_fruit-kiss .banner__footnote {
        position: absolute;
        top: 232px;
        left: 11px;
        width: 300px;
        text-align: left;
    }
}

@media all and (min-width: 760px) and (max-width: 999px) {
    .banner_fruit-kiss .banner__inner {
        padding: 169px 0 81px;
    }

    .banner_fruit-kiss .banner__image_1 {
        right: -199px;
        bottom: -143px;
        background-size: 510px;
    }

    .banner_fruit-kiss .banner__image_2 {
        bottom: 0;
        left: -11px;
    }

    .banner_fruit-kiss .banner__image_3 {
        top: 37px;
        right: -44px;
        background-size: 109px;
    }

    .banner_fruit-kiss .banner__image_4 {
        top: 52px;
        left: 330px;
        background-size: 166px;
    }

    .banner_fruit-kiss .banner__logo {
        top: 51px;
        left: 14px;
        background-size: 219px;
    }

    .banner_fruit-kiss .banner__description {
        padding: 12px 10px 12px 13px;
        width: 278px;
    }

    .banner_fruit-kiss .banner__footnote {
        position: absolute;
        top: 176px;
        left: 324px;
        width: 310px;
    }
}

@media all and (min-width: 1000px) and (max-width: 1279px) {
    .banner_fruit-kiss .banner__inner {
        padding: 158px 0 51px;
    }

    .banner_fruit-kiss .banner__image_1 {
        right: -162px;
        bottom: -86px;
        background-size: 559px;
    }

    .banner_fruit-kiss .banner__image_2 {
        bottom: 0;
        left: 15px;
    }

    .banner_fruit-kiss .banner__image_3 {
        top: 44px;
        right: 320px;
        background-size: 91px;
    }

    .banner_fruit-kiss .banner__image_4 {
        top: 52px;
        left: 292px;
        background-size: 166px;
    }

    .banner_fruit-kiss .banner__logo {
        top: 52px;
        left: 15px;
        background-size: 218px;
    }

    .banner_fruit-kiss .banner__description {
        padding: 12px 10px 9px 15px;
        width: 454px;
    }

    .banner_fruit-kiss .banner__footnote {
        margin-top: 18px;
    }
}

@media all and (min-width: 1280px) and (max-width: 1919px) {
    .banner_fruit-kiss .banner__inner {
        padding: 149px 0 41px;
    }

    .banner_fruit-kiss .banner__image_1 {
        right: -38px;
        bottom: -29px;
    }

    .banner_fruit-kiss .banner__image_2 {
        bottom: 0;
        left: 14px;
    }

    .banner_fruit-kiss .banner__image_3 {
        top: 35px;
        right: 560px;
        background-size: 136px;
    }

    .banner_fruit-kiss .banner__image_4 {
        top: 272px;
        right: 522px;
        background-size: 131px;
    }

    .banner_fruit-kiss .banner__logo {
        top: 51px;
        left: 14px;
    }

    .banner_fruit-kiss .banner__description {
        padding: 12px 10px 16px 18px;
        width: 423px;
    }

    .banner_fruit-kiss .banner__footnote {
        margin-top: 9px;
    }
}

@media all and (min-width: 1920px) {
    .banner_fruit-kiss .banner__inner {
        padding: 169px 0 66px;
    }

    .banner_fruit-kiss .banner__image_1 {
        right: 20px;
        bottom: -29px;
    }

    .banner_fruit-kiss .banner__image_2 {
        bottom: 0;
        left: 18px;
    }

    .banner_fruit-kiss .banner__image_3 {
        top: 38px;
        right: 679px;
    }

    .banner_fruit-kiss .banner__image_4 {
        top: 247px;
        right: 661px;
    }

    .banner_fruit-kiss .banner__logo {
        top: 52px;
        left: 19px;
    }

    .banner_fruit-kiss .banner__description {
        padding: 12px 25px 21px 17px;
        width: 560px;
    }

    .banner_fruit-kiss .banner__footnote {
        margin-top: 40px;
    }
}
