.banner_stop-problem .banner__image_1 {
    width: 551px;
    height: 674px;
    background-image: url(../i/stop-problem__bg.png);
}

.banner_stop-problem .banner__image_2 {
    width: 229px;
    height: 147px;
    background-image: url(../i/stop-problem__features.png);
}

.banner_stop-problem .banner__logo {
    position: absolute;
    z-index: 1;
    width: 277px;
    height: 109px;
    background: url(../i/stop-problem__logo.png) 0 0 no-repeat;
}

.banner_stop-problem .banner__description {
    border-radius: 5px;
    background: #6acbe0;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.banner_stop-problem .banner__footnote,
.banner_stop-problem .banner__about {
    color: #252c6a;
}

.banner_stop-problem .banner__about {
    position: absolute;
    background: url(../i/stop-problem__soothex.png) 0 0 no-repeat;
    font-size: 16px;
    line-height: 20px;
}

.banner_stop-problem .banner__logo,
.banner_stop-problem .banner__description {
    transition: all .3s ease-out;
}

@media all and (max-width: 759px) {
    .banner_stop-problem .banner__inner {
        padding: 291px 0 181px;
    }

    .banner_stop-problem .banner__image_1 {
        right: -398px;
        bottom: -486px;
        background-size: 203px;
    }

    .banner_stop-problem .banner__image_2 {
        right: 99px;
        bottom: 0;
        background-size: 163px;
    }

    .banner_stop-problem .banner__logo {
        top: 10px;
        left: 76px;
        background-size: 189px;
    }

    .banner_stop-problem .banner__description {
        padding: 7px 10px 12px 10px;
        width: 319px;
    }

    .banner_stop-problem .banner__footnote {
        position: absolute;
        top: 235px;
        left: 10px;
    }

    .banner_stop-problem .banner__about {
        top: 103px;
        left: 11px;
        padding: 36px 0 0;
        width: 325px;
        font-size: 14px;
    }
}

@media all and (min-width: 760px) and (max-width: 999px) {
    .banner_stop-problem .banner__inner {
        padding: 146px 0 15px;
    }

    .banner_stop-problem .banner__image_1 {
        right: -237px;
        bottom: -209px;
        background-size: 430px;
    }

    .banner_stop-problem .banner__image_2 {
        top: 149px;
        right: 168px;
        background-size: 163px;
    }

    .banner_stop-problem .banner__logo {
        top: 40px;
        left: 14px;
        background-size: 241px;
    }

    .banner_stop-problem .banner__description {
        padding: 11px 14px 17px 13px;
        width: 297px;
    }

    .banner_stop-problem .banner__footnote {
        margin-top: 11px;
        font-size: 14px;
        line-height: 17px;
    }
    
    .banner_stop-problem .banner__about {
        top: 40px;
        left: 298px;
        padding: 36px 0 0;
        width: 405px;
        font-size: 14px;
    }
}

@media all and (min-width: 1000px) and (max-width: 1279px) {
    .banner_stop-problem .banner__inner {
        padding: 158px 0 14px;
    }

    .banner_stop-problem .banner__image_1 {
        right: -205px;
        bottom: -157px;
        background-size: 422px;
    }

    .banner_stop-problem .banner__image_2 {
        top: 177px;
        right: 264px;
        background-size: 163px;
    }

    .banner_stop-problem .banner__logo {
        top: 39px;
        left: 15px;
        background-size: 241px;
    }

    .banner_stop-problem .banner__description {
        padding: 12px 20px 20px 15px;
        width: 426px;
    }

    .banner_stop-problem .banner__footnote {
        margin-top: 24px;
    }

    .banner_stop-problem .banner__about {
        top: 39px;
        left: 295px;
        padding: 36px 0 0;
        width: 400px;
        font-size: 14px;
    }
}

@media all and (min-width: 1280px) and (max-width: 1919px) {
    .banner_stop-problem .banner__inner {
        padding: 156px 0 10px;
    }

    .banner_stop-problem .banner__image_1 {
        right: -99px;
        bottom: -130px;
    }

    .banner_stop-problem .banner__image_2 {
        top: 42px;
        right: 489px;
    }

    .banner_stop-problem .banner__logo {
        top: 37px;
        left: 14px;
    }

    .banner_stop-problem .banner__description {
        padding: 14px 10px 13px 14px;
        width: 407px;
    }

    .banner_stop-problem .banner__footnote {
        margin-top: 14px;
    }

    .banner_stop-problem .banner__about {
        top: 227px;
        right: 489px;
        padding: 54px 0 0;
        width: 270px;
        background-position: 100% 0;
        text-align: right;
    }
}

@media all and (min-width: 1920px) {
    .banner_stop-problem .banner__inner {
        padding: 170px 0 39px;
    }

    .banner_stop-problem .banner__image_1 {
        right: 8px;
        bottom: -127px;
    }

    .banner_stop-problem .banner__image_2 {
        top: 40px;
        right: 638px;
    }

    .banner_stop-problem .banner__logo {
        top: 38px;
        left: 18px;
    }

    .banner_stop-problem .banner__description {
        padding: 11px 10px 12px 18px;
        width: 562px;
    }

    .banner_stop-problem .banner__footnote {
        margin-top: 56px;
    }

    .banner_stop-problem .banner__about {
        top: 225px;
        right: 638px;
        padding: 54px 0 0;
        width: 270px;
        background-position: 100% 0;
        text-align: right;
    }
}
