html, body {
    margin: 0;
    padding: 0;
}

.banner {
    overflow: hidden;
}

.banner__inner {
    position: relative;
    margin: auto;
    transition: all .3s ease-out;
}

.banner__image {
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all .3s ease-out;
}

.banner__list-item {
    display: list-item;
    margin: 0 0 0 15px;
    list-style-type: disc;
}

@media all and (max-width: 759px) {
    .banner__inner {
        width: 340px;
    }
}

@media all and (min-width: 760px) and (max-width: 999px) {
    .banner__inner {
        width: 738px;
    }
}

@media all and (min-width: 1000px) and (max-width: 1279px) {
    .banner__inner {
        width: 968px;
    }
}

@media all and (min-width: 1280px) and (max-width: 1919px) {
    .banner__inner {
        width: 1226px;
    }
}

@media all and (min-width: 1920px) {
    .banner__inner {
        width: 1524px;
    }
}
