iframe {
    display: block;
    margin: auto;
}

.banner {
    position: relative;
}

.banner:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: none;
    margin: auto;
    background-position: 50% 0;
    background-repeat: no-repeat;
    content: '';
    opacity: .5;
}

input:checked ~ .banner:before {
    display: block;
}

@media all and (max-width: 760px) {
    .banner_collagen:before {
        background-image: url(../test-images/banner_collagen_360.png);
    }

    .banner_dr-hand:before {
        background-image: url(../test-images/banner_dr-hand_360.png);
    }

    .banner_dr-foot:before {
        background-image: url(../test-images/banner_dr-foot_360.png);
    }

    .banner_sun-power:before {
        background-image: url(../test-images/banner_sun-power_360.png);
    }

    .banner_bio-formula:before {
        background-image: url(../test-images/banner_bio-formula_360.png);
    }

    .banner_detoxive:before {
        background-image: url(../test-images/banner_detoxive_360.png);
    }

    .banner_orange-slim:before {
        background-image: url(../test-images/banner_orange-slim_360.png);
    }

    .banner_stop-problem:before {
        background-image: url(../test-images/banner_stop-problem_360.png);
    }

    .banner_fruit-kiss:before {
        background-image: url(../test-images/banner_fruit-kiss_360.png);
    }
}

@media all and (min-width: 760px) {
    .banner_collagen:before {
        background-image: url(../test-images/banner_collagen_760.png);
    }

    .banner_dr-hand:before {
        background-image: url(../test-images/banner_dr-hand_760.png);
    }

    .banner_dr-foot:before {
        background-image: url(../test-images/banner_dr-foot_760.png);
    }

    .banner_sun-power:before {
        background-image: url(../test-images/banner_sun-power_760.png);
    }

    .banner_bio-formula:before {
        background-image: url(../test-images/banner_bio-formula_760.png);
    }

    .banner_detoxive:before {
        background-image: url(../test-images/banner_detoxive_760.png);
    }

    .banner_orange-slim:before {
        background-image: url(../test-images/banner_orange-slim_760.png);
    }

    .banner_stop-problem:before {
        background-image: url(../test-images/banner_stop-problem_760.png);
    }

    .banner_fruit-kiss:before {
        background-image: url(../test-images/banner_fruit-kiss_760.png);
    }
}

@media all and (min-width: 1000px) {
    .banner_collagen:before {
        background-image: url(../test-images/banner_collagen_1000.png);
    }

    .banner_dr-hand:before {
        background-image: url(../test-images/banner_dr-hand_1000.png);
    }

    .banner_dr-foot:before {
        background-image: url(../test-images/banner_dr-foot_1000.png);
    }

    .banner_sun-power:before {
        background-image: url(../test-images/banner_sun-power_1000.png);
    }

    .banner_bio-formula:before {
        background-image: url(../test-images/banner_bio-formula_1000.png);
    }

    .banner_detoxive:before {
        background-image: url(../test-images/banner_detoxive_1000.png);
    }

    .banner_orange-slim:before {
        background-image: url(../test-images/banner_orange-slim_1000.png);
    }

    .banner_stop-problem:before {
        background-image: url(../test-images/banner_stop-problem_1000.png);
    }

    .banner_fruit-kiss:before {
        background-image: url(../test-images/banner_fruit-kiss_1000.png);
    }
}

@media all and (min-width: 1280px) {
    .banner_collagen:before {
        background-image: url(../test-images/banner_collagen_1280.png);
    }

    .banner_dr-hand:before {
        background-image: url(../test-images/banner_dr-hand_1280.png);
    }

    .banner_dr-foot:before {
        background-image: url(../test-images/banner_dr-foot_1280.png);
    }

    .banner_sun-power:before {
        background-image: url(../test-images/banner_sun-power_1280.png);
    }

    .banner_bio-formula:before {
        background-image: url(../test-images/banner_bio-formula_1280.png);
    }

    .banner_detoxive:before {
        background-image: url(../test-images/banner_detoxive_1280.png);
    }

    .banner_orange-slim:before {
        background-image: url(../test-images/banner_orange-slim_1280.png);
    }

    .banner_stop-problem:before {
        background-image: url(../test-images/banner_stop-problem_1280.png);
    }

    .banner_fruit-kiss:before {
        background-image: url(../test-images/banner_fruit-kiss_1280.png);
    }
}

@media all and (min-width: 1920px) {
    .banner_collagen:before {
        background-image: url(../test-images/banner_collagen_1920.png);
    }

    .banner_dr-hand:before {
        background-image: url(../test-images/banner_dr-hand_1920.png);
    }

    .banner_dr-foot:before {
        background-image: url(../test-images/banner_dr-foot_1920.png);
    }

    .banner_sun-power:before {
        background-image: url(../test-images/banner_sun-power_1920.png);
    }

    .banner_bio-formula:before {
        background-image: url(../test-images/banner_bio-formula_1920.png);
    }

    .banner_detoxive:before {
        background-image: url(../test-images/banner_detoxive_1920.png);
    }

    .banner_orange-slim:before {
        background-image: url(../test-images/banner_orange-slim_1920.png);
    }

    .banner_stop-problem:before {
        background-image: url(../test-images/banner_stop-problem_1920.png);
    }

    .banner_fruit-kiss:before {
        background-image: url(../test-images/banner_fruit-kiss_1920.png);
    }
}
